@{
    ViewData["Title"] = "Home Page";
}



<div class="section-content">
    <div class="row child-col-12 lg:child-cols g-4 lg:g-6 col-match">
        <div class="lg:col-9">
            <div class="block-layout slider-layout swiper-parent uc-dark">
                <div class="block-content panel uc-visible-toggle">
                    <div class="swiper" data-uc-swiper="items: 1; active: 1; gap: 4; prev: .nav-prev; next: .nav-next; autoplay: 6000; parallax: true; fade: true; effect: fade; disable-class: d-none;">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <article class="post type-post panel uc-transition-toggle vstack gap-2 lg:gap-3 h-100 overflow-hidden uc-dark">
                                    <div class="post-media panel overflow-hidden h-100">
                                        <div class="featured-image bg-gray-25 dark:bg-gray-800 h-100 d-none md:d-block">
                                            <canvas class="h-100 w-100"></canvas>
                                            <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="/assets/images/common/img-fallback.png" data-src="/assets/images/demo-seven/posts/img-11.jpg" alt="Solo Travel: Some Tips and Destinations for the Adventurous Explorer" data-uc-img="loading: lazy" />
                                        </div>
                                        <div class="featured-image bg-gray-25 dark:bg-gray-800 ratio ratio-16x9 d-block md:d-none">
                                            <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="/assets/images/common/img-fallback.png" data-src="/assets/images/demo-seven/posts/img-11.jpg" alt="Solo Travel: Some Tips and Destinations for the Adventurous Explorer" data-uc-img="loading: lazy" />
                                        </div>
                                    </div>
                                    <div class="position-cover bg-gradient-to-t from-black to-transparent opacity-90"></div>
                                    <div class="post-header panel vstack justify-end items-start gap-1 p-2 sm:p-4 position-cover text-white" data-swiper-parallax-y="-24">
                                        <div class="post-date hstack gap-narrow fs-7 text-gray-900 dark:text-white text-opacity-60 d-none md:d-flex">
                                            <span>2mo</span>
                                        </div>
                                        <h3 class="post-title h5 lg:h4 xl:h3 m-0 max-w-600px text-white text-truncate-2">
                                            <a class="text-none text-white" href="blog-details.html">Solo Travel: Some Tips and Destinations for the Adventurous Explorer</a>
                                        </h3>
                                        <div>
                                            <div class="post-meta panel hstack justify-between fs-7 text-white text-opacity-60 mt-1">
                                                <div class="meta">
                                                    <div class="hstack gap-2">
                                                        <div>
                                                            <div class="post-author hstack gap-1">
                                                                <a href="page-author.html" data-uc-tooltip="Peter Sawyer"><img src="/assets/images/avatars/02.png" alt="Peter Sawyer" class="w-24px h-24px rounded-circle"></a>
                                                                <a href="page-author.html" class="text-black dark:text-white text-none fw-bold">Peter Sawyer</a>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <a href="#post_comment" class="post-comments text-none hstack gap-narrow">
                                                                <i class="icon-narrow unicon-chat"></i>
                                                                <span>5</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="actions">
                                                    <div class="hstack gap-1"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article class="post type-post panel uc-transition-toggle vstack gap-2 lg:gap-3 h-100 overflow-hidden uc-dark">
                                    <div class="post-media panel overflow-hidden h-100">
                                        <div class="featured-image bg-gray-25 dark:bg-gray-800 h-100 d-none md:d-block">
                                            <canvas class="h-100 w-100"></canvas>
                                            <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="/assets/images/common/img-fallback.png" data-src="/assets/images/demo-seven/posts/img-15.jpg" alt="Gaming in the Age of AI: Strategies for Startups" data-uc-img="loading: lazy" />
                                        </div>
                                        <div class="featured-image bg-gray-25 dark:bg-gray-800 ratio ratio-16x9 d-block md:d-none">
                                            <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="/assets/images/common/img-fallback.png" data-src="/assets/images/demo-seven/posts/img-15.jpg" alt="Gaming in the Age of AI: Strategies for Startups" data-uc-img="loading: lazy" />
                                        </div>
                                    </div>
                                    <div class="position-cover bg-gradient-to-t from-black to-transparent opacity-90"></div>
                                    <div class="post-header panel vstack justify-end items-start gap-1 p-2 sm:p-4 position-cover text-white" data-swiper-parallax-y="-24">
                                        <div class="post-date hstack gap-narrow fs-7 text-gray-900 dark:text-white text-opacity-60 d-none md:d-flex">
                                            <span>9mo</span>
                                        </div>
                                        <h3 class="post-title h5 lg:h4 xl:h3 m-0 max-w-600px text-white text-truncate-2">
                                            <a class="text-none text-white" href="blog-details.html">Gaming in the Age of AI: Strategies for Startups</a>
                                        </h3>
                                        <div>
                                            <div class="post-meta panel hstack justify-between fs-7 text-white text-opacity-60 mt-1">
                                                <div class="meta">
                                                    <div class="hstack gap-2">
                                                        <div>
                                                            <div class="post-author hstack gap-1">
                                                                <a href="page-author.html" data-uc-tooltip="Peter Sawyer"><img src="/assets/images/avatars/02.png" alt="Peter Sawyer" class="w-24px h-24px rounded-circle"></a>
                                                                <a href="page-author.html" class="text-black dark:text-white text-none fw-bold">Peter Sawyer</a>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <a href="#post_comment" class="post-comments text-none hstack gap-narrow">
                                                                <i class="icon-narrow unicon-chat"></i>
                                                                <span>19</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="actions">
                                                    <div class="hstack gap-1"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article class="post type-post panel uc-transition-toggle vstack gap-2 lg:gap-3 h-100 overflow-hidden uc-dark">
                                    <div class="post-media panel overflow-hidden h-100">
                                        <div class="featured-image bg-gray-25 dark:bg-gray-800 h-100 d-none md:d-block">
                                            <canvas class="h-100 w-100"></canvas>
                                            <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="/assets/images/common/img-fallback.png" data-src="/assets/images/demo-seven/posts/img-18.jpg" alt="Virtual Reality and Mental Health: Exploring the Therapeutic" data-uc-img="loading: lazy" />
                                        </div>
                                        <div class="featured-image bg-gray-25 dark:bg-gray-800 ratio ratio-16x9 d-block md:d-none">
                                            <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="/assets/images/common/img-fallback.png" data-src="/assets/images/demo-seven/posts/img-18.jpg" alt="Virtual Reality and Mental Health: Exploring the Therapeutic" data-uc-img="loading: lazy" />
                                        </div>
                                    </div>
                                    <div class="position-cover bg-gradient-to-t from-black to-transparent opacity-90"></div>
                                    <div class="post-header panel vstack justify-end items-start gap-1 p-2 sm:p-4 position-cover text-white" data-swiper-parallax-y="-24">
                                        <div class="post-date hstack gap-narrow fs-7 text-gray-900 dark:text-white text-opacity-60 d-none md:d-flex">
                                            <span>2mo</span>
                                        </div>
                                        <h3 class="post-title h5 lg:h4 xl:h3 m-0 max-w-600px text-white text-truncate-2">
                                            <a class="text-none text-white" href="blog-details.html">Virtual Reality and Mental Health: Exploring the Therapeutic</a>
                                        </h3>
                                        <div>
                                            <div class="post-meta panel hstack justify-between fs-7 text-white text-opacity-60 mt-1">
                                                <div class="meta">
                                                    <div class="hstack gap-2">
                                                        <div>
                                                            <div class="post-author hstack gap-1">
                                                                <a href="page-author.html" data-uc-tooltip="Nisi Nyung"><img src="/assets/images/avatars/08.png" alt="Nisi Nyung" class="w-24px h-24px rounded-circle"></a>
                                                                <a href="page-author.html" class="text-black dark:text-white text-none fw-bold">Nisi Nyung</a>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <a href="#post_comment" class="post-comments text-none hstack gap-narrow">
                                                                <i class="icon-narrow unicon-chat"></i>
                                                                <span>290</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="actions">
                                                    <div class="hstack gap-1"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article class="post type-post panel uc-transition-toggle vstack gap-2 lg:gap-3 h-100 overflow-hidden uc-dark">
                                    <div class="post-media panel overflow-hidden h-100">
                                        <div class="featured-image bg-gray-25 dark:bg-gray-800 h-100 d-none md:d-block">
                                            <canvas class="h-100 w-100"></canvas>
                                            <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="/assets/images/common/img-fallback.png" data-src="/assets/images/demo-seven/posts/img-20.jpg" alt="Smart Homes, Smarter Living: Exploring IoT and AI" data-uc-img="loading: lazy" />
                                        </div>
                                        <div class="featured-image bg-gray-25 dark:bg-gray-800 ratio ratio-16x9 d-block md:d-none">
                                            <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="/assets/images/common/img-fallback.png" data-src="/assets/images/demo-seven/posts/img-20.jpg" alt="Smart Homes, Smarter Living: Exploring IoT and AI" data-uc-img="loading: lazy" />
                                        </div>
                                    </div>
                                    <div class="position-cover bg-gradient-to-t from-black to-transparent opacity-90"></div>
                                    <div class="post-header panel vstack justify-end items-start gap-1 p-2 sm:p-4 position-cover text-white" data-swiper-parallax-y="-24">
                                        <div class="post-date hstack gap-narrow fs-7 text-gray-900 dark:text-white text-opacity-60 d-none md:d-flex">
                                            <span>23d</span>
                                        </div>
                                        <h3 class="post-title h5 lg:h4 xl:h3 m-0 max-w-600px text-white text-truncate-2">
                                            <a class="text-none text-white" href="blog-details.html">Smart Homes, Smarter Living: Exploring IoT and AI</a>
                                        </h3>
                                        <div>
                                            <div class="post-meta panel hstack justify-between fs-7 text-white text-opacity-60 mt-1">
                                                <div class="meta">
                                                    <div class="hstack gap-2">
                                                        <div>
                                                            <div class="post-author hstack gap-1">
                                                                <a href="page-author.html" data-uc-tooltip="David Peterson"><img src="/assets/images/avatars/01.png" alt="David Peterson" class="w-24px h-24px rounded-circle"></a>
                                                                <a href="page-author.html" class="text-black dark:text-white text-none fw-bold">David Peterson</a>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <a href="#post_comment" class="post-comments text-none hstack gap-narrow">
                                                                <i class="icon-narrow unicon-chat"></i>
                                                                <span>15</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="actions">
                                                    <div class="hstack gap-1"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-nav nav-prev position-absolute top-50 start-0 translate-middle-y btn btn-alt-primary text-black rounded-circle p-0 mx-2 border-0 shadow-xs w-32px h-32px z-1 uc-hidden-hover">
                        <i class="icon-1 unicon-chevron-left"></i>
                    </div>
                    <div class="swiper-nav nav-next position-absolute top-50 end-0 translate-middle-y btn btn-alt-primary text-black rounded-circle p-0 mx-2 border-0 shadow-xs w-32px h-32px z-1 uc-hidden-hover">
                        <i class="icon-1 unicon-chevron-right"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="lg:col-3">
            <div class="panel cstack gap-2 h-100">
                <div>
                    <div class="widget ad-widget vstack gap-2">
                        <div class="widget-title text-center">
                            <h5 class="fs-7 ft-tertiary text-uppercase m-0">Sponsore</h5>
                        </div>
                        <div class="widget-content">
                            <a class="cstack max-w-300px mx-auto text-none" href="https://themeforest.net/user/reacthemes/portfolio" target="_blank" rel="nofollow">
                                <img class="d-none sm:d-block" src="/assets/images/common/ad-desktop.jpg" alt="Ad slot">
                                <img class="d-block sm:d-none" src="/assets/images/common/ad-mobile.jpg" alt="Ad slot">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

